@keyframes bolid-1 {
	
}
@keyframes bolid-2 {
	from {right: 1%; bottom: 33%; opacity: 0.3;}
	to {right: 100%; bottom: 33%; opacity: 0.9;}
}
@keyframes flag {
	0% {transform:translate(350%, 50%) rotate(0deg);}
	50% {transform:translate(350%, 50%) rotate(45deg);}
	100% {transform:translate(350%, 50%) rotate(0deg);} 
}
@keyframes f1-logo {
	from {left: 0px; top: 30px; opacity: 0.1;}
	50% { left: 40%; top: 30px; opacity: 1;transform: scale(1);}
	to { left: 85%; top:30px; opacity: 0;}
}