/* animation styles */
.Animation-div{
	/*display: inline-block;*/
	position: relative;
}
.background-img{
	/*display: inline-block;*/
	width: 100%;
	position: relative;
	z-index: -1;
}
.bolid-1{
	position: absolute;
	left: 15%;
	bottom: 23%;
	width: 100px;
	transform: rotate3d(0, 0, 1, 180deg);
	animation: bolid-1;
}
.bolid-2{
	position: absolute;	
	right: 1%;
	bottom: 33%;
	width: 250px;
	transform: rotate3d(0, 0, 1, 180deg) skew(10deg);
	animation: bolid-2 infinite 1.5s ease 0.5s;
}

.flag{
	position: absolute;
	top: 200px;
	left: 300px;
	width: 100px;
	transform: translate(350%, 50%);
	animation: flag infinite 2s ease-out .5s;
	
}
.flag:hover{
	cursor: pointer;
	
}
.f1-logo{
	position: absolute;	
	width: 150px;
	transform: translate(50%, 50%) ;
	animation: f1-logo infinite 3s ease-in-out 1s;
}